8.03.002_Cloud/UMP/UMPOUM/UMPS1101/Service References/WCFService00000/Service000002.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wcf00000" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wcf00000" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.6.7:8081/WCFServices/Service00000.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
  <xs:import schemaLocation="http://192.168.6.7:8081/WCFServices/Service00000.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="OperationDataArgs">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolReturn" type="xs:boolean" />
      <xs:element minOccurs="0" name="DataSetReturn" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:element ref="xs:schema" />
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="ListDataSetReturn" nillable="true" type="q1:ArrayOfDataSet" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListStringReturn" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="StringReturn" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationDataArgs" nillable="true" type="tns:OperationDataArgs" />
</xs:schema>