UMP/UMPOUM/UMPS1101/Service References/OUMServices/Service11001.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service11001" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.6.75:8081/WcfServices/Service11001.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.6.75:8081/WcfServices/Service11001.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.6.75:8081/WcfServices/Service11001.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VoiceCyber.UMP.Communications" />
      <xsd:import schemaLocation="http://192.168.6.75:8081/WcfServices/Service11001.svc?xsd=xsd3" />
      <xsd:import schemaLocation="http://192.168.6.75:8081/WcfServices/Service11001.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://192.168.6.75:8081/WcfServices/Service11001.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/VoiceCyber.UMP.Common" />
      <xsd:import schemaLocation="http://192.168.6.75:8081/WcfServices/Service11001.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Wcf11001" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService11001_OUMOperation_InputMessage">
    <wsdl:part name="parameters" element="tns:OUMOperation" />
  </wsdl:message>
  <wsdl:message name="IService11001_OUMOperation_OutputMessage">
    <wsdl:part name="parameters" element="tns:OUMOperationResponse" />
  </wsdl:message>
  <wsdl:message name="IService11001_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService11001_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService11001_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService11001_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService11001">
    <wsdl:operation name="OUMOperation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService11001/OUMOperation" message="tns:IService11001_OUMOperation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService11001/OUMOperationResponse" message="tns:IService11001_OUMOperation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService11001/GetData" message="tns:IService11001_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService11001/GetDataResponse" message="tns:IService11001_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService11001/GetDataUsingDataContract" message="tns:IService11001_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService11001/GetDataUsingDataContractResponse" message="tns:IService11001_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService11001" type="tns:IService11001">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OUMOperation">
      <soap:operation soapAction="http://tempuri.org/IService11001/OUMOperation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService11001/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService11001/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service11001">
    <wsdl:port name="BasicHttpBinding_IService11001" binding="tns:BasicHttpBinding_IService11001">
      <soap:address location="http://192.168.6.75:8081/WcfServices/Service11001.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>