UMP/UMPS1600/WCF16001/Service References/Service16002/Service160022.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VoiceCyber.UMP.Communications" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VoiceCyber.UMP.Communications" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.6.18:8081/WCFServices/Service16002.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://192.168.6.18:8081/WCFServices/Service16002.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/VoiceCyber.UMP.Common" />
  <xs:complexType name="WebRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataSetData" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:element ref="xs:schema" />
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListData" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VoiceCyber.UMP.Common" minOccurs="0" name="Session" nillable="true" type="q2:SessionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebRequest" nillable="true" type="tns:WebRequest" />
  <xs:complexType name="WebReturn">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataSetData" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:element ref="xs:schema" />
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListData" nillable="true" type="q3:ArrayOfstring" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/VoiceCyber.UMP.Common" minOccurs="0" name="Session" nillable="true" type="q4:SessionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebReturn" nillable="true" type="tns:WebReturn" />
</xs:schema>