UMP/UMPS1600/UMPS1600/Service References/Service16001/Service16001.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service16001" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IService16001_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IService160011_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.6.18:8081/WCF1600/Service16001.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.6.18:8081/WCF1600/Service16001.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.6.18:8081/WCF1600/Service16001.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VoiceCyber.UMP.Common" />
      <xsd:import schemaLocation="http://192.168.6.18:8081/WCF1600/Service16001.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://192.168.6.18:8081/WCF1600/Service16001.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Common1600" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService16001_LoginSystem_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginSystem" />
  </wsdl:message>
  <wsdl:message name="IService16001_SendHeartMsg_InputMessage">
    <wsdl:part name="parameters" element="tns:SendHeartMsg" />
  </wsdl:message>
  <wsdl:message name="IService16001_LogOff_InputMessage">
    <wsdl:part name="parameters" element="tns:LogOff" />
  </wsdl:message>
  <wsdl:message name="IService16001_SendChatMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendChatMessage" />
  </wsdl:message>
  <wsdl:message name="IService16001_EndCookieByID_InputMessage">
    <wsdl:part name="parameters" element="tns:EndCookieByID" />
  </wsdl:message>
  <wsdl:message name="IService16001_SendSysMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendSysMessage" />
  </wsdl:message>
  <wsdl:message name="IService16001_InitFriendList_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:InitFriendList" />
  </wsdl:message>
  <wsdl:message name="IService16001_ReceiveChatMsg_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveChatMsg" />
  </wsdl:message>
  <wsdl:portType name="IService16001">
    <wsdl:operation name="LoginSystem">
      <wsdl:input wsaw:Action="http://tempuri.org/IService16001/LoginSystem" message="tns:IService16001_LoginSystem_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendHeartMsg">
      <wsdl:input wsaw:Action="http://tempuri.org/IService16001/SendHeartMsg" message="tns:IService16001_SendHeartMsg_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogOff">
      <wsdl:input wsaw:Action="http://tempuri.org/IService16001/LogOff" message="tns:IService16001_LogOff_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendChatMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService16001/SendChatMessage" message="tns:IService16001_SendChatMessage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EndCookieByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService16001/EndCookieByID" message="tns:IService16001_EndCookieByID_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendSysMessage">
      <wsdl:output wsaw:Action="http://tempuri.org/IService16001/SendSysMessage" message="tns:IService16001_SendSysMessage_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="InitFriendList">
      <wsdl:output wsaw:Action="http://tempuri.org/IService16001/InitFriendList" message="tns:IService16001_InitFriendList_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveChatMsg">
      <wsdl:output wsaw:Action="http://tempuri.org/IService16001/ReceiveChatMsg" message="tns:IService16001_ReceiveChatMsg_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IService16001" type="tns:IService16001">
    <wsp:PolicyReference URI="#NetTcpBinding_IService16001_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="LoginSystem">
      <soap12:operation soapAction="http://tempuri.org/IService16001/LoginSystem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendHeartMsg">
      <soap12:operation soapAction="http://tempuri.org/IService16001/SendHeartMsg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="LogOff">
      <soap12:operation soapAction="http://tempuri.org/IService16001/LogOff" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendChatMessage">
      <soap12:operation soapAction="http://tempuri.org/IService16001/SendChatMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="EndCookieByID">
      <soap12:operation soapAction="http://tempuri.org/IService16001/EndCookieByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendSysMessage">
      <soap12:operation soapAction="http://tempuri.org/IService16001/SendSysMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitFriendList">
      <soap12:operation soapAction="http://tempuri.org/IService16001/InitFriendList" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveChatMsg">
      <soap12:operation soapAction="http://tempuri.org/IService16001/ReceiveChatMsg" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IService160011" type="tns:IService16001">
    <wsp:PolicyReference URI="#NetTcpBinding_IService160011_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="LoginSystem">
      <soap12:operation soapAction="http://tempuri.org/IService16001/LoginSystem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendHeartMsg">
      <soap12:operation soapAction="http://tempuri.org/IService16001/SendHeartMsg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="LogOff">
      <soap12:operation soapAction="http://tempuri.org/IService16001/LogOff" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendChatMessage">
      <soap12:operation soapAction="http://tempuri.org/IService16001/SendChatMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="EndCookieByID">
      <soap12:operation soapAction="http://tempuri.org/IService16001/EndCookieByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendSysMessage">
      <soap12:operation soapAction="http://tempuri.org/IService16001/SendSysMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitFriendList">
      <soap12:operation soapAction="http://tempuri.org/IService16001/InitFriendList" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveChatMsg">
      <soap12:operation soapAction="http://tempuri.org/IService16001/ReceiveChatMsg" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service16001">
    <wsdl:port name="NetTcpBinding_IService16001" binding="tns:NetTcpBinding_IService16001">
      <soap12:address location="net.tcp://win-gu5g3j3j797:8083/WCF1600/Service16001.svc/mex" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://win-gu5g3j3j797:8083/WCF1600/Service16001.svc/mex</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/WIN-GU5G3J3J797</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IService160011" binding="tns:NetTcpBinding_IService160011">
      <soap12:address location="net.tcp://win-gu5g3j3j797:8083/WCF1600/Service16001.svc/Contract" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://win-gu5g3j3j797:8083/WCF1600/Service16001.svc/Contract</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>