UMP/UMPS3105/UMPS3105/Service References/Wcf31031/Service310313.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.6.75:8081/WcfServices/Service31031.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VoiceCyber.UMP.Communications" />
  <xs:element name="UMPTaskOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VoiceCyber.UMP.Communications" minOccurs="0" name="webRequest" nillable="true" type="q1:WebRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UMPTaskOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VoiceCyber.UMP.Communications" minOccurs="0" name="UMPTaskOperationResult" nillable="true" type="q2:WebReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>