8.03.002_Cloud/UMP/UMP.PF.MAMT/UMP.PF.MAMT/Service References/WCF_ServerConfig/Service00000.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.4.182:8088/WcfServices/Wcf00000/Service00000.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://192.168.4.182:8088/WcfServices/Wcf00000/Service00000.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wcf00000" />
  <xs:element name="OperationMethodA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AIntOperationID" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AListStringArgs" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OperationMethodAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wcf00000" minOccurs="0" name="OperationMethodAResult" nillable="true" type="q2:OperationDataArgs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>