8.03.002_Cloud/UMP/UMPS1600/UMPS1600/Service References/Service16001/Service160014.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.6.18:8081/WCF1600/Service16001.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VoiceCyber.UMP.Common" />
  <xs:import schemaLocation="http://192.168.6.18:8081/WCF1600/Service16001.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Common1600" />
  <xs:import schemaLocation="http://192.168.6.18:8081/WCF1600/Service16001.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="LoginSystem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VoiceCyber.UMP.Common" minOccurs="0" name="session" nillable="true" type="q1:SessionInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendHeartMsg">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOff">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VoiceCyber.UMP.Common" minOccurs="0" name="session" nillable="true" type="q2:SessionInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendChatMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Common1600" minOccurs="0" name="msgObj" nillable="true" type="q3:ChatMessage" />
        <xs:element minOccurs="0" name="bNewCookie" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndCookieByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lstParams" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSysMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Common1600" minOccurs="0" name="mesType" type="q5:S1600MessageType" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lstArgs" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitFriendList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lstFriends" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveChatMsg">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Common1600" minOccurs="0" name="chatMsg" nillable="true" type="q8:ChatMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>