UMP/UMPS3604/UMPS3604/Service References/Wcf36041/Service36041.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service36041" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7376/Service36041.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7376/Service36041.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7376/Service36041.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VoiceCyber.UMP.Communications" />
      <xsd:import schemaLocation="http://localhost:7376/Service36041.svc?xsd=xsd3" />
      <xsd:import schemaLocation="http://localhost:7376/Service36041.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:7376/Service36041.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/VoiceCyber.UMP.Common" />
      <xsd:import schemaLocation="http://localhost:7376/Service36041.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Common3604" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService36041_UmpTaskOperation_InputMessage">
    <wsdl:part name="parameters" element="tns:UmpTaskOperation" />
  </wsdl:message>
  <wsdl:message name="IService36041_UmpTaskOperation_OutputMessage">
    <wsdl:part name="parameters" element="tns:UmpTaskOperationResponse" />
  </wsdl:message>
  <wsdl:message name="IService36041_UmpUpOperation_InputMessage">
    <wsdl:part name="parameters" element="tns:UmpUpOperation" />
  </wsdl:message>
  <wsdl:message name="IService36041_UmpUpOperation_OutputMessage">
    <wsdl:part name="parameters" element="tns:UmpUpOperationResponse" />
  </wsdl:message>
  <wsdl:portType name="IService36041">
    <wsdl:operation name="UmpTaskOperation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService36041/UmpTaskOperation" message="tns:IService36041_UmpTaskOperation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService36041/UmpTaskOperationResponse" message="tns:IService36041_UmpTaskOperation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UmpUpOperation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService36041/UmpUpOperation" message="tns:IService36041_UmpUpOperation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService36041/UmpUpOperationResponse" message="tns:IService36041_UmpUpOperation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService36041" type="tns:IService36041">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UmpTaskOperation">
      <soap:operation soapAction="http://tempuri.org/IService36041/UmpTaskOperation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UmpUpOperation">
      <soap:operation soapAction="http://tempuri.org/IService36041/UmpUpOperation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service36041">
    <wsdl:port name="BasicHttpBinding_IService36041" binding="tns:BasicHttpBinding_IService36041">
      <soap:address location="http://localhost:7376/Service36041.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>