UMP/UMPS4410/UMPS4411/Service References/Wcf000A1/Service000A12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VoiceCyber.UMP.Common000A1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VoiceCyber.UMP.Common000A1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.6.63:8081/Wcf2Client/Service000A1.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="SDKRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataSetData" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:element ref="xs:schema" />
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListData" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Other01" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Other02" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Other03" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Other04" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Other05" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SDKRequest" nillable="true" type="tns:SDKRequest" />
  <xs:complexType name="SDKReturn">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataSetData" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:element ref="xs:schema" />
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListData" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Other01" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Other02" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Other03" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Other04" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Other05" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SDKReturn" nillable="true" type="tns:SDKReturn" />
</xs:schema>