8.03.002_Cloud/UMP/UMPS3602/UMPS3602/Service References/wcf36021/Service360211.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.6.105:8081/Wcf2Client/Service36021.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VoiceCyber.UMP.Communications" />
  <xs:import schemaLocation="http://192.168.6.105:8081/Wcf2Client/Service36021.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Common3602" />
  <xs:element name="UmpTaskOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VoiceCyber.UMP.Communications" minOccurs="0" name="webRequest" nillable="true" type="q1:WebRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UmpTaskOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VoiceCyber.UMP.Communications" minOccurs="0" name="UmpTaskOperationResult" nillable="true" type="q2:WebReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UmpUpOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Common3602" minOccurs="0" name="upRequest" nillable="true" type="q3:UpRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UmpUpOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/VoiceCyber.UMP.Communications" minOccurs="0" name="UmpUpOperationResult" nillable="true" type="q4:WebReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>