8.03.002_Cloud/UMP/UMPS3602/UMPS3602/Service References/wcf36021/Service360212.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Common3602" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common3602" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.6.105:8081/Wcf2Client/Service36021.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/VoiceCyber.UMP.Common" />
  <xs:complexType name="UpRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ListByte" nillable="true" type="xs:base64Binary" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VoiceCyber.UMP.Common" minOccurs="0" name="Session" nillable="true" type="q1:SessionInfo" />
      <xs:element minOccurs="0" name="SvPath" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpRequest" nillable="true" type="tns:UpRequest" />
</xs:schema>